.login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-image: url("/assets/login-background.png");
  background-position: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    .top-logo {
      img {
        width: 100%;
      }
    }
    .title-bar {
      font-size: 2rem;
      color: #ffffff;
      padding: 25px 0;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .bottom-bar {
      margin-top: 20px;

      color: #cecece;
      a {
        color: #ffffff;
        &:not(:hover) {
          text-decoration: none;
        }
      }
    }
  }
}
