<div class="login-page">
  <div class="content">
    <div class="top-logo">
      <img src="/assets/acaisoft-logo-more.svg">
    </div>
    <div class="title-bar">
      LOGIN
    </div>
    <form (ngSubmit)="login()"
          [formGroup]="formGroup">
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/user.svg">
          <input type="text"
                 id="email"
                 class="acs-input"
                 placeholder="Email"
                 [formControl]="formGroup.get('email')">
        </div>
      </div>
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/lock.svg">
          <input type="password"
                 id="password"
                 class="acs-input"
                 placeholder="Password"
                 [formControl]="formGroup.get('password')">
        </div>
      </div>
      <div class="acs-form-buttons">
        <button type="submit">
          LOGIN
        </button>
      </div>
    </form>
    <div class="bottom-bar">
      <span>Don't have an account yet?</span>
      <a [routerLink]="['/register']">Sign up</a>
    </div>
  </div>
</div>
