.register-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-image: url("/assets/login-background.png");
  background-position: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    .top-logo {
      img {
        width: 100%;
      }
    }
    .title-bar {
      font-size: 2rem;
      color: #ffffff;
      padding: 25px 0;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .error-message {
      color: #ff0000;
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }

    .captcha-container {
      label {
        color: #c4ffa4;
        font-weight: bold;
        padding-left: 20px;
      }

      #captcha {
        width: 50%;
        text-align: center;
      }
    }

    hr {
      opacity: 0.5;
      margin: 25px 0 15px 0;
    }

    .bottom-bar {
      margin-top: 20px;

      color: #cecece;
      a {
        color: #ffffff;
        &:not(:hover) {
          text-decoration: none;
        }
      }
    }

  }
}
