<div class="register-page">
  <div class="content">
    <div class="top-logo">
      <img src="/assets/acaisoft-logo-more.svg">
    </div>
    <div class="title-bar">
      SIGN UP
    </div>
    <form (ngSubmit)="signUp()"
          [formGroup]="formGroup">
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/user.svg">
          <input type="text"
                 id="email"
                 class="acs-input"
                 placeholder="Email"
                 [formControl]="formGroup.get('email')">
        </div>
        <p *ngIf="formGroup.controls['email'].invalid &&
                    formGroup.controls['email'].value.length &&
                    formGroup.controls['email'].touched" class="error-message">
          Invalid email address format
        </p>
      </div>
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/lock.svg">
          <input type="password"
                 id="password"
                 class="acs-input"
                 placeholder="Password"
                 [formControl]="formGroup.get('password')">
        </div>
      </div>
      <div class="acs-form-group">
        <div class="icon-input">
          <img src="/assets/icons/lock.svg">
          <input type="password"
                 id="confirmPassword"
                 class="acs-input"
                 placeholder="Confirm password"
                 [formControl]="formGroup.get('confirmPassword')">
        </div>
        <p *ngIf="formGroup.hasError('mismatch') &&
                    formGroup.controls['confirmPassword'].value.length" class="error-message">
          Invalid password confirmation
        </p>
      </div>
      <div class="acs-form-group">
        <div class="captcha-container">
          <input type="text"
                 id="captcha"
                 class="acs-input"
                 placeholder="Type the text"
                 [formControl]="formGroup.get('captcha')">
          <label for="captcha" [innerHTML]="captchaValue"></label>
        </div>
        <p *ngIf="formGroup.controls['captcha'].invalid &&
                    formGroup.controls['captcha'].value.length" class="error-message">
          Invalid captcha
        </p>
      </div>
      <hr>
      <div class="acs-form-buttons">
        <button type="submit">
          SIGN UP
        </button>
      </div>
    </form>
    <div class="bottom-bar">
      <a [routerLink]="['/login']">Go back to login page</a>
    </div>
  </div>
</div>

