body {
  min-height: 100%;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("/assets/login-background.png");
  background-position: center;
}

.loading-indicator {
  height: 50px;
  width: 50px;
  border: 4px solid #aaa;
  border-top-color: #eee;
  border-radius: 50%;
  animation: spin 1.5s ease infinite;
}

.loading p {
  color: #fff;
  margin-top: 25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


