.acs-books-list {
  $themeColor: #700088;

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .book {
      display: flex;
      flex-direction: row;

      padding: 20px 20px 20px 20px;
      width: 600px;
      height: 250px;
      border: 1px solid #e0e0e0;

      .book-cover-wrapper {
        margin: 0 20px;
        .book-cover {
          img {
            width: 160px;
            height: 200px;
          }
        }
      }
      .right-column {
        display: flex;
        flex-direction: column;
        .book-info {
          flex: 1;
          display: flex;
          flex-direction: column;

          > .elem {
            display: flex;
            align-items: baseline;
            padding-bottom: 5px;

            .key {
              font-weight: bold;
              color: $themeColor;
              padding-right: 10px;
              letter-spacing: .5px;
              &:after {
                content: ':';
              }
            }
            .value {
              font-size: 1.1rem;
              color: #535353;
            }
          }
          .quantity {
            align-self: flex-end;
            margin-top: auto;
            color: #535353;
          }
        }
        button.borrow {
          width: 100%;
          margin-top: 10px;
          padding: 10px;
          font-size: 1.2rem;
          letter-spacing: 0.5px;

          border: none;
          border-radius: 5px;

          background-color: $themeColor;
          color: #fff;
          &:focus {
            outline: none;
          }
          &:hover {
            cursor: pointer;
            background-color: darken($themeColor, 5%);
          }
        }
      }
    }
  }
}
