.acs-navbar {
  display: flex;

  $themeColor: #700088;

  height: 70px;
  border-bottom: 2px solid $themeColor;

  .link {
    &:hover {
      cursor: pointer;
      color: $themeColor;
    }
  }

  .acaisoft-logo {
    .mock-replacer {
      display: flex;
      align-items: center;

      height: 100%;
      width: 100%;
      padding: 0 40px;
      font-size: 3rem;
      user-select: none;
      color: $themeColor;
      cursor: pointer;
    }
  }
  .navigation-tabs {
    flex: 1;
    display: flex;
    user-select: none;

    .tab {
      display: flex;
      align-items: center;

      padding: 0 30px;
      font-size: 1.3rem;
      border-bottom: 1px solid transparent;
      white-space: nowrap;

      color: #343434;
      &:hover {
        cursor: pointer;
        border-bottom-color: $themeColor;
        color: $themeColor;
      }
      &:focus {
        outline: none;
      }
      &.selected {
        border-bottom: 2px solid $themeColor;
      }
    }
  }
  .user-fields {
    display: flex;
    user-select: none;

    .field {
      display: flex;
      align-items: center;

      max-width: 200px;
      padding: 0 25px;

      &:not(.link) {
        cursor: default;
      }
      .icon {
        font-size: 1.3rem;
        margin-right: 10px;
      }
      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
